@model IEnumerable<_9_11_ProjectPetShop_1.Models.Animals>
@{
    ViewData["Title"] = "Administrator";
}

<h4>Administrator :</h4>
<h4>
    @if (ViewBag.TitleOfCatalog != "")
    {<span>Catalog of @ViewBag.TitleOfCatalog:</span>}
else
{<span>Catalog:</span>}
</h4>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Choose a catagory:</button>
    <div id="myDropdown" class="dropdown-content">
        <a asp-action="Administrator" asp-route-CatagorySelect="0">All-animals</a>
        @foreach (var catagoryItem in ViewBag.CatagortList)
        {
            <a href="Administrator?CatagorySelect=@catagoryItem.Id">@catagoryItem.Name</a>
        }
    </div>
</div>
<div class="LinkButtonDiv"><a class="LinkButton" asp-action="AddAnimale">Add-Animal</a></div>
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th class="LeftTopScop" scope="col">#</th>
            <th scope="col">Name:</th>
            <th scope="col">Picture Name:</th>
            <th scope="col">Age:</th>
            <th class="RighrTopScop" scope="col">Description:</th>
        </tr>
    </thead>
    @foreach (var Animale in Model)
    {
<tr >
    <th scope="row">@(@ViewBag.Caunter ++)</th>
    <td>@Animale.Name</td>
    <td><img alt="@Animale.Image.ImageData" src="data:image/jpg;base64,@Convert.ToBase64String(Animale.Image.ImageData)" /></td>
    <td>@Animale.Age</td>
    <td>@Animale.Description</td>
    <td><a class="LinkButton" asp-action="Edit" asp-route-animaleId="@Animale.Id">Edit</a></td>
    <td><a class="LinkButton" asp-action="Delete" asp-route-animaleId="@Animale.Id">Delete</a></td>
</tr>
    }

</table>